<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarah Nizam - Web Developer, Coder, Tech  Aficianado</title>
    <link rel="stylesheet" href="contactstyle.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <input type="hidden" name="_next" value="index.html">
<div class="container">
    <div class="sidebar">
        <nav style="padding: 20px;">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="intro.html">My Intro</a></li>
                <li><a href="cv.html">CV</a></li>
                <li><a href="knowmore.html">Know More</a></li>
                <li><a href="updates.html">Updates</a></li>
            </ul>
        </nav>
    </div>
    <div class="main">
      <div class="hamburger">
        <img src="ham.png" alt="" class="ham" width="23px">
        <img src="cross3.jpg" alt="" class="cross" width="23px">
    </div>
        <div class="contactform">
            <h1>Contact Me for Work or General Enquiries!</h1>
            



            <form name="infoform" method="post" data-netlify="true">
              
              <p>
                <label>Name</label>
                </p><p>
                <input type="text" name="clientname" />
              </p>
                <p>
                  <label>Email address</label>
                  <p></p>
                  <input type="email" name="clientemail" />
                  <div id="emailHelp" class="form-text">Your email and phone number will never be shared with anyone else.</div>
                </p>
                  <p>
                
                  <label>Phone number</label>
                  <p></p>
                  <input type="phone" name="clientphone" />
                </p>
                  <p>
                  <label>Enquiry</label>
                  <p></p>
                  <input type="enquiry" name="clientenquiry" />  
                </p>
                  <p>
                    <div class="mb-3" id="form-check">
                      <input type="checkbox" class="form-check-input" id="isclient" />
                      <label class="form-check-label" for="isclient">I want you to reach out to me.</label>
                    </div>
                    <div class="buttons2">
                    <button type="submit" class="btn">Submit</button>
                  </div>
                   
              </form>
            
        </div>
    
    
    </div>
</div>
<script src="jaav.js"></script>
</body>
</html>